In [1]:
# You can use any python libraries as required

# Question 1

In [2]:
# Given that I have a dictionary of orders on what to buy

orders = {"apple": 5, "banana": 2, "pear": 4}

# This is the price of every item in a fruit shop

fruit_shop = {"apple": 1, "banana": 2, "pear": 3}

Write a One-Liner to calculate the total amount I need to pay

expected_output: `21`

In [3]:
# Answer for Question 1 here:

sum(orders[item]*fruit_shop[item] for item in orders)

21

# Question 2

Here is one example of code snippet. Any suggestion to improve it?

```
animals = ['dog', 'cat', 'cat', 'cat', 'dog', 'dog', 'mouse', 'mouse', 'dog']

def validate(count):
    if bool(counts) == True:
        return True
    else:
        return False

def count_object(animals):
    counts = {}
    for a in animals:
        if a not in counts:
            counts[a] = 0 
        counts[a] += 1
    
    return counts

counts = count_object(animals)  #{'dog': 4, 'cat': 3, 'mouse': 2}
validate(counts)  #True
```

In [4]:
import pandas as pd
import pandasql as ps

animals = ['dog', 'cat', 'cat', 'cat', 'dog', 'dog', 'mouse', 'mouse', 'dog']
compare = ['cat', 'dog', 'cat', 'dog', 'cat', 'mouse', 'dog','dog','mouse']

def count_object(self):
    df = pd.DataFrame({'animals':(self)})
    df = ps.sqldf("select animals,count(*) as count from df group by animals order by animals")
    return df

original_data = count_object(animals)
validation_data = count_object(compare)

def validate(original_data,validation_data):
    if original_data.equals(validation_data) == True:
        return True
    else:
        return False


validate(original_data,validation_data)


#In the orignal code snippet, the validation step logic does not make sense. 
#The bool() function will always return True unless the object is empty, false, 0 or None.
#The function does not validate the data against a valid/comparison dataset. 

#The new function validates the contents of the original dataset, animals against a test dataset, compare.
#If the animals list is the same as compare list (regardless of order), the output is True.

True

# Question 3

#### Given a list of dictionary

In [5]:
data = [
    {"id": 4526, "source": 1, "status": 2, "priority": 1, "subject": "Re: Company A - Application Successfully Submitted"},
    {"id": 4527, "source": 9, "status": 2, "priority": 4, "subject": "Assessment is not working"},
    {"id": 4528, "source": 2, "status": 4, "priority": 1, "subject": "Network disconnect"},
    {"id": 4529, "source": 1, "status": 3, "priority": 3, "subject": "Company B - Login failure"},
]

and lookups

**source**
- 1: email
- 2: portal
- 3: phone
- 7: chat
- 8: mobile
- 9: feedback_widget

**status**
- 2: open
- 3: pending
- 4: resolved
- 5: closed

**priority**
- 1: low
- 2: medium
- 3: high
- 4: urgent

Write a function that transform `data` into `transformed_data` as follow. Objectives of function:
- map `source`, `status` and `priority` from integer to string

expected output:
```
transformed_data = [
    {"id": 4526, "source": "Email", "status": "Open", "priority": "Low", "subject": "Re: Company A - Application Successfully Submitted", "source_id": 1, "status_id": 2, "priority_id": 1},
    {"id": 4527, "source": "Feedback_Widget", "status": "Open", "priority": "Urgent", "subject": "Assessment is not working", "source_id": 9, "status_id": 2, "priority_id": 4},
    {"id": 4528, "source": "Portal", "status": "Resolved", "priority": "Low", "subject": "Network disconnect", "source_id": 2, "status_id": 4, "priority_id": 1},
    {"id": 4529, "source": "Email", "status": "Pending", "priority": "High", "subject": "Company B - Login failure", "source_id": 1, "status_id": 3, "priority_id": 3},    
]
```

In [6]:
# Answer Question 3 here:

import pandas as pd

#Create Lookup Dict
source_values = {
1:'Email',
2:'Portal',
3:'Phone',
7:'Chat',
8:'Mobile',
9:'Feedback_Widget'
}

status_values = {
2:'open',
3:'pending',
4:'resolved',
5:'closed'
}

priority_values = {
1:'low',
2:'medium',
3:'high',
4:'urgent'
}


#Create function

def lookup_function(data):
    df = pd.DataFrame(data)
    df['source'] = df.source.replace(source_values)
    df['status'] = df.status.replace(status_values)
    df['priority'] = df.priority.replace(priority_values)
    transformed_data = list(df.T.to_dict().values())
    return transformed_data

lookup_function(data)

[{'id': 4526,
  'source': 'Email',
  'status': 'open',
  'priority': 'low',
  'subject': 'Re: Company A - Application Successfully Submitted'},
 {'id': 4527,
  'source': 'Feedback_Widget',
  'status': 'open',
  'priority': 'urgent',
  'subject': 'Assessment is not working'},
 {'id': 4528,
  'source': 'Portal',
  'status': 'resolved',
  'priority': 'low',
  'subject': 'Network disconnect'},
 {'id': 4529,
  'source': 'Email',
  'status': 'pending',
  'priority': 'high',
  'subject': 'Company B - Login failure'}]

# Question 4

You are given a dataset (located in `dataset/20210506.csv`) by the company. 
<br>
You are required to look into a subset of the data where company id is 5 and has a total of 6 questionnaires. 
<br>
From there, you need to recommend to the client candidates whom have completed all assessments and have met the criteria. 

*Note: display the answer in the form of a dataframe with only recommended candidates*

In [7]:
# Answer Question 4 here:
import pandas as pd
import pandasql as ps

df = pd.read_csv("C:\\Users\\SUNBTC\\Desktop\\Pulsifi_Interview\\pulsifi-data-eng-assessment\\data engineer\\dataset\\20210506.csv")


#Condition 1 = Company ID is 5 and has a total of 6 questionaires
condition_1 = ps.sqldf('''
SELECT
id
,total_questionnaires
,total_questionnaires_completed
,is_met_criteria
FROM df 
WHERE 
company_id = 5 
AND 
total_questionnaires = 6
''')

#Condition 2 =  client candidates whom have completed all assessments and have met the criteria.
recommended_candidates = ps.sqldf('''
SELECT
id
FROM condition_1 
WHERE  
total_questionnaires_completed = total_questionnaires 
AND
is_met_criteria = 1
''')

recommended_candidates

                                      id
0   172cd051-ce06-49a1-80dc-df5e803f8d79
1   108ab550-298e-427c-a4a3-e9a5983ec32c
2   54273e2a-924d-427d-9d50-0386a9c84ce8
3   9f0618b1-0b60-4149-aef2-c8cc3054b1e2
4   738ef2ea-8e33-4cd8-9e61-6b2168c48cc3
..                                   ...
66  e78d82e6-b838-4073-9576-782530aaad2c
67  4c6684b9-1d48-41b3-bc59-38ea51c712dc
68  0e3dbe86-e9e8-4ecc-bd7d-cb85f9a56eba
69  b3080a65-6428-4cb9-964c-28d2498b9afc
70  0a9499fc-9a4d-433d-8b76-9b2debbddca4

[71 rows x 1 columns]